{% extends "base.html" %}


<div class="navbar">
</div>


<div class="container">
    {% block content %} 
    {% if request.user.is_authenticated %}
        <h1>Hello, {{ user }}</h1>
        <a href="{% url 'users:profile' user.username %}">
            내 프로필 보기
        </a>
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="로그아웃">
        </form>
    {% else %}
        <a href="{% url 'accounts:login'%}"></a>
    {% endif %}





    <!-- 글 작성 버튼 만들기. -->
    <a href="{% url 'articles:new' %}" method="POST">
        게시글 작성
    </a>


    <!--  게시글 보여주기 -->
    <ul>
        {% for article in articles %}
        <li>
            <a href="{% url 'articles:detail' article.id %}">
                <div>[{{ article.id }}] {{ article.title }}</div>
            </a>

            {% if article.image %}
            <div><img src="{{ article.image.url }}" alt="제품사진"></div>
            {% endif %}

            <br>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}