{% extends 'base.html' %}

{% block content %}
<h1>{{ member.username }}의 프로필 페이지</h1>

<div>
    <h2>username : {{ member.username }}</h2>

    <p>팔로워 수: {{ follower_count }}</p>
    <p>팔로잉 수: {{ following_count }}</p>



    {% if request.user != member %}
    <form action="{% url 'users:follow' member.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in member.followers.all %}
        <input type="submit" class="btn" value="언팔로우">
        {% else %}
        <input type="submit" class="btn" value="팔로우">
        {% endif %}
    </form>
    {% endif %}
</div>


<!-- 좋아요 목록 보여주기  -->
<h2>좋아하는 글 목록</h2>
<ul>
    {% for article in liked_articles %}
    <li>
        <a href="{% url 'articles:detail' article.id %}">
            <div>[{{ article.id }}] {{ article.title }}</div>
        </a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'accounts:change_password' %}" class="btn">비밀번호 변경</a>
<a href="{% url 'articles:mainpage' %}" class="btn">홈으로 돌아가기</a>

{% endblock content %}